{% extends 'main/loggedIn.html'%}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}"> 
<script src ="../../static/js/functions.js"> </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

{% endblock %}


{% block content %} 
	<a href="{{url_for('routes.getChatroomMessages')}}">See Messages</a> 
<div class="flex-container"> 
	<div id="chat-box" class="flex-item" >
		<ul id="messages-list">

		</ul>

	</div>

	<div id="chat-input" class="flex-item" >
		<input id="bar" class="chat-input-bar" type="text" placeholder="Chat Here">
		<ul id="search-results"> 
		</ul>
		<button id="chat-submit" class="chat-input-bar" onclick="submitChat()"> Chat </button>
	</div>
</div> 



<script>


	const socket = io();
	socket.on('connect', function() {
	    console.log("connected to server2");

	    // Emit events after the connection is established
	    socket.emit('ding', 'Some data to send to the server');
	});


	// Random - Add event listeners for any responses from the server (optional)
	socket.on('response_event', function(data) {
		console.log('response_event socket:', data);
	});


	socket.on('new_message', function(data) {
	console.log('Received new message from server:', data);
	console.log(data.msg);
	console.log(data.userID);
	const searchID = data.userID;
	const msgText = data.msg;


	fetch(`/lookupID?userID=${searchID}`)
		.then (response => response.text())
		.then ( name => {
			console.log("This is the name: ", name); 

			var ul = document.getElementById("messages-list") 
			var li = document.createElement("li");
			var para = document.createElement("p");
			
			//routing returns like the following: '"soomika" '
			//so the quotes had to be remove [0] [-2]. The white space is [-1], so it is also removed since -2 is 
			var retVal = name.slice(1,-2) + ': ' + msgText.trim(); 


			para.innerText = retVal; 
			li.classList.add("chat-msg");
			li.appendChild(para);
			ul.appendChild(li);
			console.log(li);
			console.log(ul);

			// Scroll to the bottom of the container after adding a new message
			var container = document.getElementById("chat-box");
			container.scrollTop = container.scrollHeight;

		}); 

	});

	async function getMessages() {
		try {
			const response = await fetch('/getMessages');

			const data = await response.json();
			<!-- console.log("\ngetMessages()") -->
			<!-- console.log(data) -->
			<!-- console.log() --> 
			return data;
		} catch (error) {
			console.error ('Errors: ', error);
		}
	}

	async function fillChatBox() { 
		let chatbox = document.getElementById("chat-box");
		let data = await getMessages();
		console.log("\nfillChatBox");
		console.log(data);
		console.log();
		<!-- chatbox.innerHTML = JSON.stringify(data); -->
		populateMessages (data);
	}

	document.addEventListener('DOMContentLoaded', fillChatBox)




</script>


{% endblock %}


