{% extends 'main/loggedIn.html'%}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}"> 
<script src ="../../static/js/functions.js"> </script>

{% endblock %}

{% block content %}
<div class = "searchbar">
	<div class = "bar-results-container"> 
		<input id="bar" type="text" placeholder="Search ..."> 
		<ul id="search-results"> 
		</ul>
	</div> 

	<select name="filters" id="filters">
		<option value="username">Username</option>
		<option value="country">Country</option>
		<option value="location">Location</option>
	</select>
</div>

<div class = "admin-panel"> 
	<button id="get-users" onclick="getResults()"> Get all Users </button>
	<a href="{{url_for('routes.getUsers')}}">See users</a> 
</div> 


<script> 
	console.log("hey there");
	const tagged = document.getElementById("bar");
	console.log(tagged.innerHTML);
	tagged.addEventListener('input',
		function(){
			console.log("hi");
			getResults(); 
		}
	); 
	function test1(SQL_result) {
		retVal=SQL_result.split("),");
		return retVal;
	}

	
</script> 
{% endblock %} 

