{% extends 'main/loggedIn.html'%}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}"> 
<script src ="../../static/js/functions.js"> </script>

{% endblock %}

{% block content %}
<div class = "searchbar">
	<div class = "bar-results-container"> 
		<input id="bar" type="text" placeholder="Search ..."> 
		<ul id="search-results"> 
		</ul>
	</div> 

	<select name="filters" id="filters">
		<option value="username">Username</option>
		<option value="country">Country</option>
		<option value="location">Location</option>
	</select>
</div>

<div class = "admin-panel"> 
	<button id="get-users" onclick="getResults()"> Get all Users </button>
	<a href="{{url_for('routes.getUsers')}}">See users</a> 
</div> 


<script> 
	console.log("hey there");
	const tagged = document.getElementById("bar");
	console.log(tagged.innerHTML);
	tagged.addEventListener('input',
		function(){
			console.log("hi");
			getResults(); 
		}
	); 
	function test1(SQL_result) {
		retVal=SQL_result.split("),");
		return retVal;
	}
	
	function updateList(names) { 
		var ul = document.getElementById("search-results");
		ul.innerHTML="";
		
		for (let i = 0; i < names.length; i++) { 
			var li = document.createElement("li");
			li.appendChild(document.createTextNode(names[i])); 
			ul.appendChild(li);
		}
	}
	
	function getResults() {
	

		let searchTerm = document.getElementById("bar").value; 
		let filter = document.getElementById("filters").value;

		query = "SELECT " + filter + " FROM Users where " +
				filter + " LIKE \'" + searchTerm + "%\';";

		fetch ('/getSearchTerm', {
			headers : {
				'Content-Type': 'application/json'
			},
			method:'POST',
			body: JSON.stringify({
				"search_term":searchTerm,
				"filter":filter,
				"query":query
			})
		}).then(function(response) { 
			return response.text();
		}).then(function(text) {
			console.log(searchTerm);
			console.log(filter);
			console.log(query);
			console.log('POST RESPONSE: ');
			console.log(text);
			console.log("In array form: \n");
			names = JSON.parse(text);
			console.log(names); 
			updateList(names);
		})
	}

</script> 
{% endblock %} 

