{% extends 'base.html' %}
{% block content %}

<div class = "flexbox">
	<div class = "flexbox-log-container"> 
		<span style="width:40%"> Space </span> 
		{% if g.user%}
		<div class = "flexbox-log-item">
			{{g.user['username']}} 
		</div>
		<div class = "flexbox-log-item">
			<a href="{{url_for('auth.logout')}}">Log Out </a> 
		</div>
		
		{% else %}
		<div class = "flexbox-log-item">
			<a href="{{url_for('auth.register')}}">Register</a>
		</div>
		<div class = "flexbox-log-item">
			<a href="{{url_for('auth.login')}}">Log In</a> 
		</div>
		{% endif %}
	</div>

</div> 

<div class = "flexbox">
	<span style="width:60px"> Example </span> 	
	<div class = "flexbox-nav-container"> 
		<div class = "flexbox-nav-item">One </div> 
		<div class = "flexbox-nav-item">Two </div> 
		<div class = "flexbox-nav-item">Three </div> 
		<div class = "flexbox-nav-item">Four </div> 
	</div>

</div>
<div class = "flexbox slideshow"> 
	<div class = "slideshow-container">
		<div class= "slide fade">
			<img src = "static/images/slide1.jpeg" class = "slider-image"> 
		</div> 
		<div class= "slide fade">
			<img src = "static/images/slide2.jpeg" class = "slider-image"> 
		</div> 
		<div class= "slide fade">
			<img src = "static/images/slide3.jpeg" class = "slider-image"> 

		</div> 
		
		<div class = "prev-next-slider"> 
			<div class= "prev" onClick= "slideTrans(-1)"> &#10094 </div>
			<div class= "next" onClick= "slideTrans(+1)"> &#10095 </div>
		</div>
	</div>

	<div class = slideshow-dots> 
		 <span class="dot" onclick="currentSlide(1)"></span>
		 <span class="dot" onclick="currentSlide(2)"></span>
		 <span class="dot" onclick="currentSlide(3)"></span>
	</div>
</div>

<div class = "flexbox features">
	<div class = "features-container"> 
		<div class = "row">
			<div class ="column feature">
				Feature 1	
			</div> 
			<div class ="column feature">
				Feature 2
			</div> 
			<div class ="column feature">
				Feature 3
			</div> 
		</div>
	</div> 
</div>

<div class = "flexbox main-footer"> 
	<div class = "footer-container">  
		<div class = "row">
			<div class = "column">
				<a>Footer 1</a>
			</div>
			
			<div class = "column">
				<a>Footer 2</a>
			</div>
			<div class = "column">
				<a>Footer 3</a>
			</div>
			<div class = "column">
				<a>Footer 4</a>
			</div>
				
		</div>
	</div>
</div>

{% endblock %}
