{% extends 'main/loggedIn.html' %}

{% block head %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"> 
<script src ="../../static/js/functions.js"> </script>

{% endblock %} 

{% block content %}
<div class = "profile-container"> 

	<div id = "navigator"> 
		<ul>
			<li> <a href="#" onclick="togglePanel(0);"> About </a>  </li> 
			<li> <a href="#" onclick="togglePanel(1);">Photos  </a> </li>
			<li> <a href="#" onclick="togglePanel(2);">Schedule </a> </li> 
			<li> <a href="#" onclick="togglePanel(3);">Reviews </a> </li>
		</ul> 

	</div> 

	<div class = "section-content">
		<div class = "container-content" id = "container-profile"> 
			<div class = "panel" id = "about"> 
				<button  id=toggleNav onclick="toggleDiv('navigator');event.preventDefault()"> Hide </button>
				<p id = "p-name"> Username: {{user['username']}} </p> <br/> 
				<p id = "p-email"> E-mail: {{user['email']}} </p> <br/>
				<p id = "p-country"> Country: {{user['country']}} </p> <br/>
				<p id = "p-reg-date"> Member Since: {{user['reg_date']}} </p> <br/> 
				<p id = "p-last-login"> Last Login: {{user['last_login']}} </p> <br/> 
				<p id ="p-panel"> About: <p id ="p-bio"> {{user['bio']}} </p> </p> <br/>  
			</div>


			<div class = "panel" id = "photos"> 
				poop 
			</div> 

			<div class = "panel" id = "schedule"> 
				schedule	
			</div> 

			<div class = "panel" id = "reviews"> 
				reviews
			</div> 


		</div> 

		{% if myProfile %} 

		<div id ="edit-bar"> 
			<button id="button-edit-toggle"> Edit </button> 
			<button id="button-save" onclick="updateProfile()"> Save </button>
			<button id="button-cancel"> Cancel </button>
		</div>
		{% endif %}

	</div> 

</div>

<script>
document.getElementById("button-edit-toggle").addEventListener("click", myFunction);



function myFunction() {

	// replace bio with the input element

	let bio = document.getElementById("p-bio");
	let bodyText = bio.textContent; 
	var input = document.createElement("input");
	input.type = "text";
	input.value= bodyText;
	input.id = 'p-input'
	bio.replaceWith(input); 

	// make 2 other buttons disappear
	let saveButton = document.getElementById("button-save"); 
	let cancelButton = document.getElementById("button-cancel"); 
	saveButton.style.display ='block';
	cancelButton.style.display = 'block'
	saveButton.innerText = 'Modified Save'; 
	saveButton.onclick = function () {
		updateProfile();
		var newBio = document.createElement('p');
		newBio.id ='p-bio';
		newBio.innerText = input.value;
		input.replaceWith(newBio);
		saveButton.style.display = 'none';
		cancelButton.style.diplay = 'none'; 

	}

	cancelButton.onclick = function () {
		var newBio = document.createElement('p');
		newBio.id ='p-bio';
		newBio.innerText = input.value;
		input.replaceWith(newBio);
		saveButton.style.display = 'none';
		cancelButton.style.diplay = 'none'; 
	}
	console.log("hello 2")

}

document.getElementById("button-cancel").addEventListener("click", myFunction2);

function myFunction2() {
	console.log('myFunction2')
}



</script> 

{% endblock %}


