.flex-container {
    display: flex;
    flex-direction: column; /* Or row, depending on your layout */
    height: 40em; /* Ensure the container fills its parent */
    background-color:  var(--color11);
    border: 2px solid var(--color2); /* Just for visualization */
    border-radius: 6px;
    position: relative;
    padding: 1.5em;
}

.flex-item {
    flex-grow: 1;
    position:relative;
}

#chat-box {
    height: 90%;
    border-radius: 10px;
    background-color: black;
    max-height: 30em; 
    overflow-y: auto;
}

#chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 4em;
}

#bar {
    width: 80%;
}

.chat-input-bar {
    margin:.25em;
    max-height: 2em;
}

.chat-msg {
   list-style-type: none;
   color: var(--color10);
} 

