#feed-container {
	display:flex;
	flex-direction: column;
	min-height: 20em;
	height: 40em;
}


#feed-submit {
	display:flex;
	flex:1;
	background: var(--color2);
	justify-content: center;
}

#feed-posts {
	display:flex;
	flex: 5;
	background-color: var(--color2);
}

#feed-submit-container {
	display: flex;
	flex-direction: row;
	width: 85%;
	height: 50%;
	padding: 1em;
}

#feed-submit-textarea {
	background-color: pink;
	flex: 9;
}

#feed-submit-photo {
	background-color: purple;
	flex: 1;
	align-content: center;
} 

#feed-submit-video {
	background-color: orange;
	flex: 1;
	align-content: center;
}

#feed-button-container {
	background-color: green;
	flex: 1;
	align-content: center;
	cursor: pointer;
}

#feed-posts {
	display: flex; 
	justify-content: center; 
	width: 100%;
}

#feed-posts-container {
	display:flex; 
	width: 100%; 
	justify-content: center;


}

#feed-posts-list {
	display:flex; 
	flex-direction: column;
	background-color: var(--color3);
	width: 80%;
	min-height: 20em;
}

.feed-posts-li {
	list-style: none;
	width: 100%;
}

.feed-post {
	display:flex; 
	flex-direction: column;
	width: 97%;
	min-height: 15em;
	background-color: #512c2d;
	color: #b2b79a;
	margin-top: 1em;
} 

.feed-post-header {
	display: flex;
	flex-direction: row;
	background-color: #857b68;
	flex: 1;
}

.feed-post-header, .feed-post-timestamp {
	width: 35%;
}

.feed-post, .header-photo, .header-username, .feed-post-button {
	border-style: solid;
	border-width: 2px;
	border-color: #344139;
}

.feed-post {
	border-radius: 0.5em;
}

.header-photo, .header-username {
	color: #344139;
}

.header-photo {
	flex: 2;
}

.header-username {
	flex: 3; 
	border-left: none;
}

.feed-post-timestamp {
	flex: 0.5;
	background-color:#344139;
}

.feed-post-body {
	flex: 2;
}

.feed-post-footer { 
	flex: 1;
	background-color: #605854;
}

.feed-post-buttons-container{
	display: flex;
	flex-direction: row;
	padding-left: 1em;
	margin-top: 0.5em;
	align-items: center; 
	gap: 1em;
}

.feed-post-button{
	padding: 0.2em;
	border-radius: 0.5em;
	border-color: #b2b79a;
}

.feed-post-downvotes, .feed-post-comment-count  { 
	margin-right: 0.5em;
} 




