.click {
	cursor:pointer;
}

#profile-container { 
	display: flex;
	flex-direction: row;
	min-height:15em;
}
#navigator {
	color:yellow;
	width: 15%;
	display:block;
	height:10em;
}

#navigator li {
	list-style-type:none; 
}
.section-content {
	background-color:orange;
	width :50%;
	flex: 1;
	display: flex;
	flex-direction: column;
}
#edit-bar {
	background-color:white;
	height:1.5em;
	width:auto;
	padding: 0.5em;
	display: flex;
	justify-content: center; 
	gap: 1em;
}
#edit-bar button {
}
#button-edit-toggle { 
	
}
#button-save {
	display:none;
}
#button-cancel {
	display:none;
}
#toggleNav {
	color:red;
	border:none;
	background-color:orange;
	cursor:pointer;
}

.panel {
	display:flex;
	flex-direction: column; 
}

#about {
	display:block;
}

#photos {
	display:none;
	height: 100%;
}

#load-photos {
	flex: 1;
	background-color: #1dbf48;
}

#submit-photos {
	flex: 1;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#photos-submit-button {
	background: url(../images/spacePhotoAdd2.jpg);
	background-size:cover;
	height: 7em;
	width: 7em;
}

#reviews { 
	display:none; 
	height: 100%; 
}

#reviews-submit{ 
	flex-basis: 60%;
	background-color: white;
	display: flex;
	flex-direction : column;
}

#reviews-star {
	background-color: white;
	flex:2;
	align-content: center;
}

#reviews-box {
	display: flex;
	padding: 2em; 
	background-color: black;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	flex:2; 
	max-height: 8em;
}

#container-reviews-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex:1;
}

#reviews-load {
	flex-basis: 40%;
	background-color: #1dbf48;
}

#reviews-title {
	width :80%;
	height:30%;
	text-align: left; 
	align-self: flex-start; 
	line-height: 100%;
	resize: none;
	margin-bottom: 1em;
}

#reviews-input {
	width: 80%;
	height: 100%;
	text-align: left; 
	align-self: flex-start; 
	line-height: 100%;
	overflow-y: auto;
 	resize:none;  
}

.reviews-li {
	list-style-type: none;
}

.pulled-stars {
	color: yellow;
}

.reviews-indiv {
	display:flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1em;
	min-height: 5em;
	max-height:10em;
}

.reviews-indiv-header {
	display:flex;
	flex-direction:row;
	width: 100%;
}

.reviews-indiv-stars {
	flex: 1;
	background-color: red;
}

.reviews-indiv-headline {
	flex: 4;
	background-color: yellow;
}

.reviews-indiv-generic {
	font-weight:bold;
	font-size:12px;
	border-style: solid;
	border-width: 1px;
}

.reviews-indiv-timestamp {
	font-weight:bold;
	font-size:10px;
	border-style: solid;
	border-width: 1px;
	border-top: none; 
}






.car {

	width: 64px; /* Adjust the width as needed */
}

#schedule {
	display:none;
}

