.profile-container { 
	display: flex;
	flex-direction: row;
	min-height:15em;
}
#navigator {
	color:yellow;
	width: 15%;
	display:block;
	height:10em;
}

#navigator li {
	list-style-type:none; 
}
.section-content {
	background-color:orange;
	width :50%;
	flex: 1;
}
#toggleNav {
	color:red;
	border:none;
	background-color:orange;
	cursor:pointer;
}
