:root {
    --color1:#3a015c;
    --color2:#4f0147;
    --color3:#35012c;
    --color4:#290025;
    --color5:#11001c;
    
    --color10:#ff6f91;
    --color11:#7d387d;
    --color12:#ff9671;


    --color20:#3d348b;
    --color21:#7678ed;
    --color22:#f7b801;
    --color23:#f18701;
    --color24:#f35b04;
    }
html {
	font-family: "Helvetica",san-serif;
	background: var (--color12);
	padding: 1rem;
}

body {
	max-width: 960px;
	margin: 0 auto;
	background: var(--color1);
}

body,html {
	height:100%;
}

#navbar {
	background: var(--color11);
}

.flexbox {
	display:flex;
}

.flexbox-nav-container {
	display: flex;
	align-items: end;
	float: left;
	width:100%;
	padding-bottom:30px;
}

.flexbox-nav-item {
	background: var(--color11);
	border: 1px solid #005999;
	border-radius: 4px;
	padding: 5px;
	flex-grow:1;
	height: 60%;
	text-align:center;
	align-items: flex-end;
}

.flexbox-nav-item a {
	color: var(--color10);
	
}


.flexbox-nav-item:hover {
	border: 3px solid;
}


.flexbox-log-container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.flexbox-log-item {
	background-color: var(--color11);
	border: 1px solid #005999;
	border-radius: 7px;
	padding: 10px;
	height: 10%;
	width: 15%;
	margin: 7px;
	text-align: center;
}

.flexbox-log-item a {
	color: var(--color10);
	font-size: 12px;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.login-space {
	background-color:#5b3758;
	width: 90%;
	height: 20em; 
	margin: 0 auto;
	margin-bottom: 2em; 	
	display:flex; 
	justify-content: center;
}

.login-column {
	flex: 50%;
}

.login-form { 
	display: flex;
	justify-content: center;
	align-items: center; 
}

.login-body {
	background-color: indigo;
	background: #c65b7c;
	width: 60%;
	border-radius: 5px;
	display: flex;  
	flex-direction: column;
	padding: 2em 1.2em 0 2.6em;
	margin: 0 1em;
}

.login-body p {
	color: white;
	font-size: 12px;	
}

.fa-stack-2x {
	color:white;
}

.fa-lg {
	margin-right: 10px; 
}

.login-field {
	display: flex;
	margin-bottom: 2rem;
} 


.login-field input {
	width: 50%;
}

.login-register {
	flex-direction: column;
	align-items: center;
}

#login-submit {
	border-radius: 0.25rem;
	background-color: #8d36ff;  
	margin: 0 auto;
}

#register-option {
	font-size:12px;	
	margin-top: 1em;
}


.slideshow {
	padding-top: 20px;
	background-color: #f9627d;
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.slideshow-container {
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.slide {
	display:none;
	margin: 0 auto;
	margin-top: 20px; 
}

.fade {
	animation-name: fade;
  	animation-duration: 1.5s;
}

.prev-next-slider{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	background-color:yellow;
	justify-content: space-around;
}

/* Next & previous buttons */
.prev, .next {
  	cursor: pointer;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
	display: flex;
	background-color:blue;
}

.prev {
	margin-right: 20px;
}

/* Position the "next button" to the right */
.next {
  	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

.slideshow-dots {
	display:flex; 
	text-align: center; 
	background-color:black;
	justify-content:center;
}

.slider-image {
	width:500px;
	height:500px;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171
}

.features {
	justify-content: center;
	margin-top:30px;
}

.features-container {
	background: white;
	width: 95%;
}

.feature{
	height: 15em;
	width: 60%;
	background-color: #83b692;
}

.main-footer {
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-container {
	background: black;
	opacity: 0.5;
	width: 80%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	width: 100%;
}

.subfeatures {
	flex-flow: column;
	margin-top: 30px; 
}

.subfeature {
	padding: 2em 2em;
	background-color:#c65b7c; 
	border-style:solid;
	margin-bottom: 5px;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	justify-content:center;
	align-items:center;
}

.column a {
	color: black;
}

