html {
	font-family: san-serif;
	background: #8e8a75;
	padding: 1rem;
}

body {
	max-width: 960px;
	margin: 0 auto;
	background: #36454F;
}

body,html {
	height:100%;
}

.content-block {
	background:#87ceff;
}

.flexbox {
	display:flex;
}

.flexbox-nav-container {
	display: flex;
	align-items: end;
	float: left;
	width:100%;
	padding-bottom:30px;
}

.flexbox-nav-item {
	background:#87ceff;
	border: 1px solid #005999;
	border-radius: 4px;
	padding: 5px;
	flex-grow:1;
	height: 60%;
	text-align:center;
	align-items: flex-end;
}



.flexbox-nav-item:hover {
	border: 3px solid;
}


.flexbox-log-container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.flexbox-log-item {
	background:#0D3D00;
	border: 1px solid #005999;
	border-radius: 7px;
	padding: 10px;
	height: 10%;
	width: 15%;
	margin: 7px;
	text-align: center;
}

.flexbox-log-item a {
	color: white;
	font-size: 12px;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.slideshow {
	padding-top: 20px;
	background-color: pink;
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.slideshow-container {
	display:flex;
	justify-content:center;
	flex-direction:column;
}

.slide {
	display:none;
	margin: 0 auto;
	margin-top: 20px; 
}

.fade {
	animation-name: fade;
  	animation-duration: 1.5s;
}

.prev-next-slider{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	background-color:yellow;
	justify-content: space-around;
}

/* Next & previous buttons */
.prev, .next {
  	cursor: pointer;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
	display: flex;
	background-color:blue;
}

.prev {
	margin-right: 20px;
}

/* Position the "next button" to the right */
.next {
  	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

.slideshow-dots {
	display:flex; 
	text-align: center; 
	background-color:black;
	justify-content:center;
}

.slider-image {
	width:500px;
	height:500px;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171
}

.features {
	justify-content: center;
	margin-top:30px;
}

.features-container {
	background: white;
	width: 95%;
}

.feature{
	height: 15em;
	width: 60%;
}

.main-footer {
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-container {
	background: black;
	opacity: 0.5;
	width: 80%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	background-color:red;
	justify-content:center;
	align-items:center;
}

.column a {
	color: black;
}

